<div class="search-form-container">
  <%= form_tag nil, method: :get do %>
    <%= hidden_field_tag :items, params[:items] %>
    <div class="flex-row">
      <%= search_field_tag :q, params[:q] %>
      <%= submit_tag "Search" %>
    </div>
  <% end %>
</div>
