@import "./gridy/open-props.css";
@import "./gridy/open-props/normalize.css";
/* @import "./gridy/open-props/buttons.css"; */

.gridy {
  font-size: 14px;
  padding: var(--size-3);

  .header {
    padding: var(--size-2) 0;
    /* box-shadow: var(--shadow-3); */

    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: var(--size-2);
    margin-top: var(--size-3);
    margin-bottom: var(--size-3);
    align-items: center;

    .title {
      font-size: var(--font-size-2);
      font-weight: var(--font-weight-5);
    }
  }

  .search-form-container {
    /* padding: var(--size-2); */
    /* margin-bottom: var(--size-2); */

    form {
      width: 100%;
    }

    input[type="search"] {
      flex-grow: 1;
      padding: var(--size-1) var(--size-2);
      border-radius: var(--radius-2);
      border: 1px solid var(--gray-3);
    }
  }

  .table-container {
    max-width: 100%;
    /* overflow-x: auto; */

    table {
      width: 100%;
      border-radius: var(--radius-2);

      thead {
        position: sticky;
        top: 0;

        :where(tr:first-child th:first-child) {
          border-top-left-radius: var(--radius-2);
        }
      }

      tfoot {
        :where(tr:last-child :is(th, td):first-of-type) {
          border-end-start-radius: var(---radius-2);
        }

        :where(tr:last-child :is(th, td):last-of-type) {
          border-end-end-radius: var(--radius-2);
        }
      }

      th,
      td {
        padding: var(--size-1) var(--size-3);
        white-space: nowrap;
        text-align: left;
      }
    }
  }

  .relative {
    position: relative;
  }

  .sticky {
    position: sticky;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
    gap: var(--size-2);
  }

  .flex-col {
    display: flex;
    flex-direction: column;
    gap: var(--size-2);
  }

  .pagy {
    display: flex;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: var(--text-2);
    margin: var(--size-1) 0;
  }

  .pagy > :not([hidden]) ~ :not([hidden]) {
    --space-reverse: 0;
    margin-right: calc(0.25rem * var(--space-reverse));
    margin-left: calc(0.25rem * calc(1 - var(--space-reverse)));
  }

  .pagy a:not(.gap) {
    display: block;
    text-decoration: none;
    border-radius: 0.25rem;
    border: 1px solid var(--surface-4);
    background: var(--surface-3);
    padding: 0.25rem 0.75rem;
    color: inherit;
  }

  .pagy a:not(.gap):hover {
    background-color: var(--surface-1);
  }

  .pagy a:not(.gap):not([href]) {
    /* disabled links */
    cursor: default;
    background-color: var(--surface-2);
    color: var(--text-2);
  }

  .pagy a:not(.gap).current {
    background: var(--surface-0);
    color: var(--text-2);
  }

  .pagy a.gap {
    padding: 0 0.8rem;
  }

  .pagy label {
    white-space: nowrap;
    display: inline-block;
    border-radius: 0.5rem;
    background: var(--surface-2);
    padding: 0.125rem 0.75rem;
  }

  .pagy label input {
    line-height: 1.5rem;
    border-radius: 0.375rem;
    border-style: none;
    background: var(--surface-2);
  }
}
